In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_highest-grossing_Hindi_films"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html.parser")



data = []
rows = soup.find_all('tr')
# Iterate over the rows and extract the cell data
for row in rows:
    cells = row.find_all(['th', 'td'])
    row_data = [cell.get_text(strip=True) for cell in cells]
    data.append(row_data)
#data[0:15]
X=pd.DataFrame(data)
X[0:16]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Rank,Film,Year,Director,Studio(s),Worldwide gross,Ref,None,None,None,None,None,None,None
1,1,Dangal,2016,Nitesh Tiwari,Aamir Khan ProductionsUTV Motion PicturesWalt ...,"₹2,024 crore(US$317 million)",[4],None,None,None,None,None,None,None
2,2,Pathaan,2023,Siddharth Anand,Yash Raj Films,"₹1,050.3 crore(US$130 million)",[5][6],None,None,None,None,None,None,None
3,3,Bajrangi Bhaijaan,2015,Kabir Khan,Salman Khan FilmsKabir Khan FilmsEros Internat...,₹969 crore(US$151.05 million),[a],None,None,None,None,None,None,None
4,4,Secret Superstar,2017,Advait Chandan,Aamir Khan Productions,₹966.86 crore(US$154 million),[b],None,None,None,None,None,None,None
5,5,PK,2014,Rajkumar Hirani,Vinod Chopra FilmsRajkumar Hirani Films,₹769.89 crore(US$126.15 million),[17],None,None,None,None,None,None,None
6,6,Sultan,2016,Ali Abbas Zafar,Yash Raj Films,₹623.33 crore(US$93 million),[18],None,None,None,None,None,None,None
7,7,Sanju,2018,Rajkumar Hirani,Rajkumar Hirani FilmsVinod Chopra Films,₹586.85 crore(US$85.81 million),[19],None,None,None,None,None,None,None
8,8,Padmaavat,2018,Sanjay Leela Bhansali,Bhansali ProductionsViacom 18 Motion Pictures,₹571.98 crore(US$84 million),[20],None,None,None,None,None,None,None
9,9,Tiger Zinda Hai,2017,Ali Abbas Zafar,Yash Raj Films,₹565 crore(US$87.32 million),[4][21],None,None,None,None,None,None,None
10,10,Dhoom 3,2013,Vijay Krishna Acharya,Yash Raj Films,₹556 crore(US$101 million),[c],None,None,None,None,None,None,None
11,11,War,2019,Siddharth Anand,Yash Raj Films,₹475.5 crore (US$60 million),[28],None,None,None,None,None,None,None
12,12,3 Idiots,2009,Rajkumar Hirani,Vinod Chopra Films,₹460 crore(US$58 million),[22][7],None,None,None,None,None,None,None
13,13,Andhadhun,2018,Sriram Raghavan,Viacom 18 Motion PicturesMatchbox Pictures,₹456.89 crore (US$65million),[29],None,None,None,None,None,None,None
14,14,Adipurush,2023,Om Raut,T-SeriesRetrophiles,₹450 crore(US$56 million),[30],None,None,None,None,None,None,None
15,15,Brahmāstra: Part One – Shiva,2022,Ayan Mukerji,Star StudiosDharma Productions,₹431crore (US$67million),,None,None,None,None,None,None,None

In [12]:
Z=X.iloc[0:16,0:6]
K=Z[:1]
K
Z.columns = Z.iloc[0]
Z=Z[1:]
Z

,Rank,Film,Year,Director,Studio(s),Worldwide gross
1,1,Dangal,2016,Nitesh Tiwari,Aamir Khan ProductionsUTV Motion PicturesWalt ...,"₹2,024 crore(US$317 million)"
2,2,Pathaan,2023,Siddharth Anand,Yash Raj Films,"₹1,050.3 crore(US$130 million)"
3,3,Bajrangi Bhaijaan,2015,Kabir Khan,Salman Khan FilmsKabir Khan FilmsEros Internat...,₹969 crore(US$151.05 million)
4,4,Secret Superstar,2017,Advait Chandan,Aamir Khan Productions,₹966.86 crore(US$154 million)
5,5,PK,2014,Rajkumar Hirani,Vinod Chopra FilmsRajkumar Hirani Films,₹769.89 crore(US$126.15 million)
6,6,Sultan,2016,Ali Abbas Zafar,Yash Raj Films,₹623.33 crore(US$93 million)
7,7,Sanju,2018,Rajkumar Hirani,Rajkumar Hirani FilmsVinod Chopra Films,₹586.85 crore(US$85.81 million)
8,8,Padmaavat,2018,Sanjay Leela Bhansali,Bhansali ProductionsViacom 18 Motion Pictures,₹571.98 crore(US$84 million)
9,9,Tiger Zinda Hai,2017,Ali Abbas Zafar,Yash Raj Films,₹565 crore(US$87.32 million)
10,10,Dhoom 3,2013,Vijay Krishna Acharya,Yash Raj Films,₹556 crore(US$101 million)
11,11,War,2019,Siddharth Anand,Yash Raj Films,₹475.5 crore (US$60 million)
12,12,3 Idiots,2009,Rajkumar Hirani,Vinod Chopra Films,₹460 crore(US$58 million)
13,13,Andhadhun,2018,Sriram Raghavan,Viacom 18 Motion PicturesMatchbox Pictures,₹456.89 crore (US$65million)
14,14,Adipurush,2023,Om Raut,T-SeriesRetrophiles,₹450 crore(US$56 million)
15,15,Brahmāstra: Part One – Shiva,2022,Ayan Mukerji,Star StudiosDharma Productions,₹431crore (US$67million)

In [27]:
import re
import numpy as np
Z['Worldwide gross'] = Z['Worldwide gross'].apply(lambda x: re.sub(r'\(.*?\)', '', x))
Z['Worldwide gross'] = Z['Worldwide gross'].apply(lambda x: re.sub(r'crore', '', x))
Z['Worldwide gross'] = Z['Worldwide gross'].apply(lambda x: re.sub(r'₹', '', x))
Z['Worldwide gross'] = Z['Worldwide gross'].apply(lambda x: re.sub(r',', '', x))
Z['Worldwide gross'].dtype
Z['Worldwide gross'] = Z['Worldwide gross'].astype('float32')
Z['Worldwide gross']

1     2024.000000
2     1050.300049
3      969.000000
4      966.859985
5      769.890015
6      623.330017
7      586.849976
8      571.979980
9      565.000000
10     556.000000
11     475.500000
12     460.000000
13     456.890015
14     450.000000
15     431.000000
Name: Worldwide gross, dtype: float32

In [52]:
Z

,Rank,Film,Year,Director,Studio(s),Worldwide gross
1,1,Dangal,2016,Nitesh Tiwari,Aamir Khan ProductionsUTV Motion PicturesWalt ...,2024.000000
2,2,Pathaan,2023,Siddharth Anand,Yash Raj Films,1050.300049
3,3,Bajrangi Bhaijaan,2015,Kabir Khan,Salman Khan FilmsKabir Khan FilmsEros Internat...,969.000000
4,4,Secret Superstar,2017,Advait Chandan,Aamir Khan Productions,966.859985
5,5,PK,2014,Rajkumar Hirani,Vinod Chopra FilmsRajkumar Hirani Films,769.890015
6,6,Sultan,2016,Ali Abbas Zafar,Yash Raj Films,623.330017
7,7,Sanju,2018,Rajkumar Hirani,Rajkumar Hirani FilmsVinod Chopra Films,586.849976
8,8,Padmaavat,2018,Sanjay Leela Bhansali,Bhansali ProductionsViacom 18 Motion Pictures,571.979980
9,9,Tiger Zinda Hai,2017,Ali Abbas Zafar,Yash Raj Films,565.000000
10,10,Dhoom 3,2013,Vijay Krishna Acharya,Yash Raj Films,556.000000
11,11,War,2019,Siddharth Anand,Yash Raj Films,475.500000
12,12,3 Idiots,2009,Rajkumar Hirani,Vinod Chopra Films,460.000000
13,13,Andhadhun,2018,Sriram Raghavan,Viacom 18 Motion PicturesMatchbox Pictures,456.890015
14,14,Adipurush,2023,Om Raut,T-SeriesRetrophiles,450.000000
15,15,Brahmāstra: Part One – Shiva,2022,Ayan Mukerji,Star StudiosDharma Productions,431.000000

In [4]:
Z.columns = Z.iloc[0]
Z=Z[1:]
Z

1,1,Dangal,2016,Nitesh Tiwari,Aamir Khan ProductionsUTV Motion PicturesWalt Disney Studios India,"₹2,024 crore"
2,2,Pathaan,2023,Siddharth Anand,Yash Raj Films,"₹1,050.3 crore"
3,3,Bajrangi Bhaijaan,2015,Kabir Khan,Salman Khan FilmsKabir Khan FilmsEros Internat...,₹969 crore
4,4,Secret Superstar,2017,Advait Chandan,Aamir Khan Productions,₹966.86 crore
5,5,PK,2014,Rajkumar Hirani,Vinod Chopra FilmsRajkumar Hirani Films,₹769.89 crore
6,6,Sultan,2016,Ali Abbas Zafar,Yash Raj Films,₹623.33 crore
7,7,Sanju,2018,Rajkumar Hirani,Rajkumar Hirani FilmsVinod Chopra Films,₹586.85 crore
8,8,Padmaavat,2018,Sanjay Leela Bhansali,Bhansali ProductionsViacom 18 Motion Pictures,₹571.98 crore
9,9,Tiger Zinda Hai,2017,Ali Abbas Zafar,Yash Raj Films,₹565 crore
10,10,Dhoom 3,2013,Vijay Krishna Acharya,Yash Raj Films,₹556 crore
11,11,War,2019,Siddharth Anand,Yash Raj Films,₹475.5 crore
12,12,3 Idiots,2009,Rajkumar Hirani,Vinod Chopra Films,₹460 crore
13,13,Andhadhun,2018,Sriram Raghavan,Viacom 18 Motion PicturesMatchbox Pictures,₹456.89 crore
14,14,Adipurush,2023,Om Raut,T-SeriesRetrophiles,₹450 crore
15,15,Brahmāstra: Part One – Shiva,2022,Ayan Mukerji,Star StudiosDharma Productions,₹431crore

In [55]:
import sqlite3
!pip install ipython-sql

con=sqlite3.connect('SQL7.db')
Z.to_sql('hmov2',con)

%load_ext sql
%sql sqlite:///SQL7.db

Requirement already satisfied: ipython-sql in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: prettytable in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython>=1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (7.33.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: sqlparse in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: backcall in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (4.11.4)
Requirement already satisfied: wcwidth in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: zipp>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (4.5.0)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @SQL7.db'

In [67]:
%%sql

SELECT Film, `Worldwide gross`
FROM hmov2
WHERE `Worldwide gross` >( SELECT `Worldwide gross` FROM hmov2 WHERE Film= 'PK');

   sqlite:///SQL6.db
 * sqlite:///SQL7.db
Done.

[('Dangal', 2024.0),
 ('Pathaan', 1050.300048828125),
 ('Bajrangi Bhaijaan', 969.0),
 ('Secret Superstar', 966.8599853515625)]

In [58]:
%%sql

SELECT Year, SUM(CAST(REPLACE(REPLACE(`Worldwide gross`, '₹', ''), ',', '') AS DECIMAL)) AS TotalGross
FROM hmov2
GROUP BY Year
ORDER BY TotalGross DESC;

   sqlite:///SQL6.db
 * sqlite:///SQL7.db
Done.

[('2016', 2647.3300170898438),
 ('2018', 1615.719970703124),
 ('2017', 1531.859985351563),
 ('2023', 1500.30004882812),
 ('2015', 969),
 ('2014', 769.890014648437),
 ('2013', 556),
 ('2019', 475.5),
 ('2009', 460),
 ('2022', 431)]

In [59]:
w=pd.read_sql_query("select Film ,Year From hmov2 where Year=2018 ",con)
w

        Film  Year
0      Sanju  2018
1  Padmaavat  2018
2  Andhadhun  2018

In [71]:
w=pd.read_sql_query("select Rank,Film ,Year,`worldwide gross`,`Studio(s)` From hmov2 where Director= 'd' ",con)
w

  Rank     Film  Year  Worldwide gross       Studio(s)
0    2  Pathaan  2023      1050.300049  Yash Raj Films
1   11      War  2019       475.500000  Yash Raj Films

In [73]:
w=pd.read_sql_query("select Rank,Film ,Year,`worldwide gross` ,`Studio(s)`From hmov2 where `Studio(s)`= 'Yash Raj Films' ",con)
w

  Rank             Film  Year  Worldwide gross       Studio(s)
0    2          Pathaan  2023      1050.300049  Yash Raj Films
1    6           Sultan  2016       623.330017  Yash Raj Films
2    9  Tiger Zinda Hai  2017       565.000000  Yash Raj Films
3   10          Dhoom 3  2013       556.000000  Yash Raj Films
4   11              War  2019       475.500000  Yash Raj Films

In [76]:
w=pd.read_sql_query("select SUM(`worldwide gross`) as TOTAL,  `Studio(s)`From hmov2 where `Studio(s)`= 'Yash Raj Films' and `Studio(s)`='Rajkumar Hirani FilmsVinod Chopra Films'",con)
w

  TOTAL Studio(s)
0  None      None

In [82]:
w=pd.read_sql_query("select SUM(`worldwide gross`) as TOTAL,  `Studio(s)`From hmov2 where `Studio(s)` LIKE '%Rajkumar Hirani FilmsVinod Films'",con)
w

  TOTAL Studio(s)
0  None      None

In [84]:
w = pd.read_sql_query("SELECT SUM(`worldwide gross`) AS TOTAL, `Studio(s)` FROM hmov2 WHERE `Studio(s)` LIKE '%Rajkumar%'", con)
w

        TOTAL                                Studio(s)
0  1356.73999  Vinod Chopra FilmsRajkumar Hirani Films

In [88]:
w = pd.read_sql_query("SELECT SUM(`worldwide gross`) AS TOTAL, `Studio(s)` FROM hmov2  groupby( 'Director') ", con)
w

DatabaseError: Execution failed on sql 'SELECT SUM(`worldwide gross`) AS TOTAL, `Studio(s)` FROM hmov2  groupby( 'Director') ': near "(": syntax error

In [ ]:
grouped_w = w.groupby('Studio(s)').sum()