In [3]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

NameError: name 'soup' is not defined

In [ ]:
h_elements =soup.find_all('tr')

titles = [td.get_text(strip=True) for td in h_elements]

print(titles[1:10])

In [ ]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
   # print(link)
   # print(link.get('src'))

In [ ]:
h3_elements =soup.find_all('h3')

titles = [h3.get_text() for h3 in h3_elements]

print(titles)

In [4]:
import requests
from bs4 import BeautifulSoup

# Send a GET request to the URL
url = "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table element
table = soup.find('table', class_='wikitable')

# Extract the rows from the table
rows = table.find_all('tr')

# Initialize an empty list to store the table data
data = []

# Iterate over the rows and extract the cell data
for row in rows:
    cells = row.find_all('td')
    row_data = [cell.get_text(strip=True) for cell in cells]
    data.append(row_data)

# Print the extracted table data
for row in data:
    print(row)

[]
['1', '1', '$2,923,706,026', '2009', '[# 1][# 2]']
['2', '1', '$2,797,501,328', '2019', '[# 3][# 4]']
['3', '3', '$2,320,250,281', '2022', '[# 5][# 6]']
['4', '1', 'T$2,257,844,554', '1997', '[# 7][# 8]']
['5', '3', '$2,068,223,624', '2015', '[# 9][# 10]']
['6', '4', '$2,048,359,754', '2018', '[# 11][# 12]']
['7', '6', '$1,921,847,111', '2021', '[# 13][# 14]']
['8', '3', '$1,671,537,444', '2015', '[# 15][# 16]']
['9', '7', '$1,656,943,394', '2019', '[# 17][# 4]']
['10', '3', '$1,518,815,515', '2012', '[# 18][# 19]']
['11', '4', '$1,515,341,399', '2015', '[# 20][# 21]']
['12', '11', '$1,493,491,858', '2022', '[# 22][# 23]']
['13', '10', '$1,450,026,933', '2019', '[# 24][# 25]']
['14', '5', '$1,402,809,540', '2015', '[# 26][# 21]']
['15', '9', '$1,347,280,838', '2018', '[# 27][# 28]']
['16', '3', '$1,342,139,727', '2011', '[# 29][# 30]']
['17', '9', '$1,332,539,889', '2017', '[# 31][# 32]']
['18', '18', '$1,313,370,737', '2023', '[# 33][# 34]']
['19', '12', '$1,308,473,425', '2018', '[# 35][# 12]']
['20', '5', 'F$1,290,000,000', '2013', '[# 36][# 37]']
['21', '10', '$1,263,521,126', '2017', '[# 38][# 39]']
['22', '15', '$1,242,805,359', '2018', '[# 40][# 12]']
['23', '11', 'F8$1,238,764,765', '2017', '[# 41][# 39]']
['24', '5', '$1,214,811,252', '2013', '[# 42][# 43]']
['25', '10', '$1,159,444,662', '2015', '[# 44][# 16]']
['26', '12', '$1,153,337,496', '2016', '[# 45][# 46]']
['27', '20', '$1,148,528,393', '2018', '[# 47][# 12]']
['28', '2', '$1,147,633,833', '2003', '[# 48][# 49]']
['29', '24RK', '$1,131,927,996', '2019', '[# 50][# 4]']
['30', '23RK', '$1,128,274,794', '2019', '[# 51][# 52]']
['31', '5RK', '$1,123,794,079', '2011', '[# 53][# 30]']
['32', '7', '$1,108,569,499', '2012', '[# 54][# 55]']
['33', '10', '$1,104,054,072', '2014', '[# 56][# 57]']
['34', '7', '$1,081,169,825', '2012', '[# 58][# 59]']
['35', '31', '$1,074,458,282', '2019', '[# 60][# 25]']
['36', '32', '$1,074,144,248', '2019', '[# 61][# 25]']
['37', '30', '$1,073,394,593', '2019', '[# 62][# 4]']
['38', '4TS3', '$1,066,970,811', '2010', '[# 63][# 64]']
['39', '3', '$1,066,179,747', '2006', '[# 65][# 66]']
['40', '20', '$1,057,420,387', '2016', '[# 67][# 68]']
['41', '34', '$1,050,693,953', '2019', '[# 69][# 4]']
['42', '6', '$1,045,713,802', '2011', '[# 70][# 64]']
['43', '24', '$1,034,800,131', '2017', '[# 71][# 39]']
['44', '1', '$1,034,199,003', '1993', '[# 72][# 73]']
['45', '22', '$1,028,570,942', '2016', '[# 74][# 75]']
['46', '2', '$1,027,082,707', '1999', '[# 76][# 8]']
['47', '5', '$1,025,468,216', '2010', '[# 77][# 78]']
['48', '24', '$1,023,784,195', '2016', '[# 79][# 46]']
['49', '14', '$1,017,030,651', '2012', '[# 80][# 81]']
['50', '2', 'HP1$1,009,046,830', '2001', '[# 82][# 83]']

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the URL
url = "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table element
table = soup.find('table', class_='wikitable')

# Extract the rows from the table
rows = table.find_all('tr')

# Initialize an empty list to store the table data
data = []

# Iterate over the rows and extract the cell data
for row in rows:
    cells = row.find_all(['th', 'td'])
    row_data = [cell.get_text(strip=True) for cell in cells]
    data.append(row_data)

# Remove empty rows
data = [row for row in data if row]

# Create a DataFrame from the table data
df = pd.DataFrame(data[1:], columns=data[0])

# Print the DataFrame
print(df)

   Rank  Peak                                          Title  \
0     1     1                                         Avatar
1     2     1                              Avengers: Endgame
2     3     3                       Avatar: The Way of Water
3     4     1                                        Titanic
4     5     3                   Star Wars: The Force Awakens
5     6     4                         Avengers: Infinity War
6     7     6                        Spider-Man: No Way Home
7     8     3                                 Jurassic World
8     9     7                                  The Lion King
9    10     3                                   The Avengers
10   11     4                                      Furious 7
11   12    11                              Top Gun: Maverick
12   13    10                                      Frozen II
13   14     5                        Avengers: Age of Ultron
14   15     9                                  Black Panther
15   16     3  Harry Potter and the Deathly Hallows â€“ Part 2
16   17     9                       Star Wars: The Last Jedi
17   18    18                    The Super Mario Bros. Movie
18   19    12                 Jurassic World: Fallen Kingdom
19   20     5                                         Frozen
20   21    10                           Beauty and the Beast
21   22    15                                  Incredibles 2
22   23    11                        The Fate of the Furious
23   24     5                                     Iron Man 3
24   25    10                                        Minions
25   26    12                     Captain America: Civil War
26   27    20                                        Aquaman
27   28     2  The Lord of the Rings: The Return of the King
28   29  24RK                      Spider-Man: Far From Home
29   30  23RK                                 Captain Marvel
30   31   5RK                 Transformers: Dark of the Moon
31   32     7                                        Skyfall
32   33    10                Transformers: Age of Extinction
33   34     7                          The Dark Knight Rises
34   35    31                                          Joker
35   36    32               Star Wars: The Rise of Skywalker
36   37    30                                    Toy Story 4
37   38  4TS3                                    Toy Story 3
38   39     3     Pirates of the Caribbean: Dead Man's Chest
39   40    20                   Rogue One: A Star Wars Story
40   41    34                                        Aladdin
41   42     6    Pirates of the Caribbean: On Stranger Tides
42   43    24                                Despicable Me 3
43   44     1                                  Jurassic Park
44   45    22                                   Finding Dory
45   46     2      Star Wars: Episode I â€“ The Phantom Menace
46   47     5                            Alice in Wonderland
47   48    24                                       Zootopia
48   49    14              The Hobbit: An Unexpected Journey
49   50     2       Harry Potter and the Philosopher's Stone

      Worldwide gross  Year  Reference(s)
0      $2,923,706,026  2009    [# 1][# 2]
1      $2,797,501,328  2019    [# 3][# 4]
2      $2,320,250,281  2022    [# 5][# 6]
3     T$2,257,844,554  1997    [# 7][# 8]
4      $2,068,223,624  2015   [# 9][# 10]
5      $2,048,359,754  2018  [# 11][# 12]
6      $1,921,847,111  2021  [# 13][# 14]
7      $1,671,537,444  2015  [# 15][# 16]
8      $1,656,943,394  2019   [# 17][# 4]
9      $1,518,815,515  2012  [# 18][# 19]
10     $1,515,341,399  2015  [# 20][# 21]
11     $1,493,491,858  2022  [# 22][# 23]
12     $1,450,026,933  2019  [# 24][# 25]
13     $1,402,809,540  2015  [# 26][# 21]
14     $1,347,280,838  2018  [# 27][# 28]
15     $1,342,139,727  2011  [# 29][# 30]
16     $1,332,539,889  2017  [# 31][# 32]
17     $1,313,370,737  2023  [# 33][# 34]
18     $1,308,473,425  2018  [# 35][# 12]
19    F$1,290,000,000  2013  [# 36][# 37]
20     $1,263,521,126  2017  [# 38][# 39]
21     $1,242,805,359  2018  [# 40][# 12]
22   F8$1,238,764,765  2017  [# 41][# 39]
23     $1,214,811,252  2013  [# 42][# 43]
24     $1,159,444,662  2015  [# 44][# 16]
25     $1,153,337,496  2016  [# 45][# 46]
26     $1,148,528,393  2018  [# 47][# 12]
27     $1,147,633,833  2003  [# 48][# 49]
28     $1,131,927,996  2019   [# 50][# 4]
29     $1,128,274,794  2019  [# 51][# 52]
30     $1,123,794,079  2011  [# 53][# 30]
31     $1,108,569,499  2012  [# 54][# 55]
32     $1,104,054,072  2014  [# 56][# 57]
33     $1,081,169,825  2012  [# 58][# 59]
34     $1,074,458,282  2019  [# 60][# 25]
35     $1,074,144,248  2019  [# 61][# 25]
36     $1,073,394,593  2019   [# 62][# 4]
37     $1,066,970,811  2010  [# 63][# 64]
38     $1,066,179,747  2006  [# 65][# 66]
39     $1,057,420,387  2016  [# 67][# 68]
40     $1,050,693,953  2019   [# 69][# 4]
41     $1,045,713,802  2011  [# 70][# 64]
42     $1,034,800,131  2017  [# 71][# 39]
43     $1,034,199,003  1993  [# 72][# 73]
44     $1,028,570,942  2016  [# 74][# 75]
45     $1,027,082,707  1999   [# 76][# 8]
46     $1,025,468,216  2010  [# 77][# 78]
47     $1,023,784,195  2016  [# 79][# 46]
48     $1,017,030,651  2012  [# 80][# 81]
49  HP1$1,009,046,830  2001  [# 82][# 83]

In [6]:
table = soup.find_all('table', class_='wikitable')
print(table[0])

<table class="wikitable sortable plainrowheaders" style="margin:auto; margin:auto;">
<caption>Highest-grossing films<sup class="reference" id="cite_ref-12"><a href="#cite_note-12">[12]</a></sup>
</caption>
<tbody><tr>
<th scope="col">Rank
</th>
<th scope="col">Peak
</th>
<th scope="col">Title
</th>
<th scope="col">Worldwide gross
</th>
<th scope="col">Year
</th>
<th class="unsortable" scope="col">Reference(s)
</th></tr>
<tr>
<td>1
</td>
<td>1
</td>
<th scope="row"><i><a href="/wiki/Avatar_(2009_film)" title="Avatar (2009 film)">Avatar</a></i>
</th>
<td align="right">$2,923,706,026
</td>
<td style="text-align:center;">2009
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-avatar_13-0"><a href="#cite_note-avatar-13">[# 1]</a></sup><sup class="reference" id="cite_ref-avatar_peak_14-0"><a href="#cite_note-avatar_peak-14">[# 2]</a></sup>
</td></tr>
<tr>
<td>2
</td>
<td>1
</td>
<th scope="row"><i><a href="/wiki/Avengers:_Endgame" title="Avengers: Endgame">Avengers: Endgame</a></i>
</th>
<td align="right">$2,797,501,328
</td>
<td data-sort-value="2019-04" style="text-align:center;">2019
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-endgame_15-0"><a href="#cite_note-endgame-15">[# 3]</a></sup><sup class="reference" id="cite_ref-endgame_peak_16-0"><a href="#cite_note-endgame_peak-16">[# 4]</a></sup>
</td></tr>
<tr>
<td>3
</td>
<td>3
</td>
<th scope="row" style="background:#b6fcb6;"><i><a href="/wiki/Avatar:_The_Way_of_Water" title="Avatar: The Way of Water">Avatar: The Way of Water</a></i> <img alt="film currently playing" data-file-height="14" data-file-width="9" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/3/37/Dagger-14-plain.png" width="9"/>
</th>
<td align="right">$2,320,250,281
</td>
<td data-sort-value="2022-12" style="text-align:center;">2022
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-avatar2_17-0"><a href="#cite_note-avatar2-17">[# 5]</a></sup><sup class="reference" id="cite_ref-avatar_2_peak_18-0"><a href="#cite_note-avatar_2_peak-18">[# 6]</a></sup>
</td></tr>
<tr>
<td>4
</td>
<td>1
</td>
<th scope="row"><i><a href="/wiki/Titanic_(1997_film)" title="Titanic (1997 film)">Titanic</a></i>
</th>
<td align="right"><sup class="reference plainlinks nourlexpansion" id="ref_Titanic"><a href="#endnote_Titanic">T</a></sup>$2,257,844,554
</td>
<td style="text-align:center;">1997
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-titanic_19-0"><a href="#cite_note-titanic-19">[# 7]</a></sup><sup class="reference" id="cite_ref-titanic_peak_20-0"><a href="#cite_note-titanic_peak-20">[# 8]</a></sup>
</td></tr>
<tr>
<td>5
</td>
<td>3
</td>
<th scope="row"><i><a href="/wiki/Star_Wars:_The_Force_Awakens" title="Star Wars: The Force Awakens">Star Wars: The Force Awakens</a></i>
</th>
<td align="right">$2,068,223,624
</td>
<td data-sort-value="2015-12" style="text-align:center;">2015
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-sw7_21-0"><a href="#cite_note-sw7-21">[# 9]</a></sup><sup class="reference" id="cite_ref-sw7_peak_22-0"><a href="#cite_note-sw7_peak-22">[# 10]</a></sup>
</td></tr>
<tr>
<td>6
</td>
<td>4
</td>
<th scope="row"><i><a href="/wiki/Avengers:_Infinity_War" title="Avengers: Infinity War">Avengers: Infinity War</a></i>
</th>
<td align="right">$2,048,359,754
</td>
<td data-sort-value="2018-04" style="text-align:center;">2018
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-infinity_war_23-0"><a href="#cite_note-infinity_war-23">[# 11]</a></sup><sup class="reference" id="cite_ref-infinity_war_peak_24-0"><a href="#cite_note-infinity_war_peak-24">[# 12]</a></sup>
</td></tr>
<tr>
<td>7
</td>
<td>6
</td>
<th scope="row"><i><a href="/wiki/Spider-Man:_No_Way_Home" title="Spider-Man: No Way Home">Spider-Man: No Way Home</a></i>
</th>
<td align="right">$1,921,847,111
</td>
<td data-sort-value="2021-12" style="text-align:center;">2021
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-nwh_25-0"><a href="#cite_note-nwh-25">[# 13]</a></sup><sup class="reference" id="cite_ref-No_Way_Home_peak_26-0"><a href="#cite_note-No_Way_Home_peak-26">[# 14]</a></sup>
</td></tr>
<tr>
<td>8
</td>
<td>3
</td>
<th scope="row"><i><a href="/wiki/Jurassic_World" title="Jurassic World">Jurassic World</a></i>
</th>
<td align="right">$1,671,537,444
</td>
<td data-sort-value="2015-06-10" style="text-align:center;">2015
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-jurassic_world_27-0"><a href="#cite_note-jurassic_world-27">[# 15]</a></sup><sup class="reference" id="cite_ref-jurassic_world_peak_28-0"><a href="#cite_note-jurassic_world_peak-28">[# 16]</a></sup>
</td></tr>
<tr>
<td>9
</td>
<td>7
</td>
<th scope="row"><span data-sort-value="Lion KingÂ !"><a href="/wiki/The_Lion_King_(2019_film)" title="The Lion King (2019 film)"><i>The Lion King</i></a></span>
</th>
<td align="right">$1,656,943,394
</td>
<td data-sort-value="2019-07" style="text-align:center;">2019
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-29"><a href="#cite_note-29">[# 17]</a></sup><sup class="reference" id="cite_ref-endgame_peak_16-1"><a href="#cite_note-endgame_peak-16">[# 4]</a></sup>
</td></tr>
<tr>
<td>10
</td>
<td>3
</td>
<th scope="row"><span data-sort-value="AvengersÂ !"><a href="/wiki/The_Avengers_(2012_film)" title="The Avengers (2012 film)"><i>The Avengers</i></a></span>
</th>
<td align="right">$1,518,815,515
</td>
<td data-sort-value="2012-04" style="text-align:center;">2012
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-avengers_30-0"><a href="#cite_note-avengers-30">[# 18]</a></sup><sup class="reference" id="cite_ref-avengers_peak_31-0"><a href="#cite_note-avengers_peak-31">[# 19]</a></sup>
</td></tr>
<tr>
<td>11
</td>
<td>4
</td>
<th scope="row"><i><a href="/wiki/Furious_7" title="Furious 7">Furious 7</a></i>
</th>
<td align="right">$1,515,341,399
</td>
<td data-sort-value="2015-03" style="text-align:center;">2015
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-fast7_32-0"><a href="#cite_note-fast7-32">[# 20]</a></sup><sup class="reference" id="cite_ref-furious_7_peak_33-0"><a href="#cite_note-furious_7_peak-33">[# 21]</a></sup>
</td></tr>
<tr>
<td>12
</td>
<td>11
</td>
<th scope="row"><i><a href="/wiki/Top_Gun:_Maverick" title="Top Gun: Maverick">Top Gun: Maverick</a></i>
</th>
<td align="right">$1,493,491,858
</td>
<td data-sort-value="2022-05" style="text-align:center;">2022
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-tgm_34-0"><a href="#cite_note-tgm-34">[# 22]</a></sup><sup class="reference" id="cite_ref-Maverick_peak_35-0"><a href="#cite_note-Maverick_peak-35">[# 23]</a></sup>
</td></tr>
<tr>
<td>13
</td>
<td>10
</td>
<th scope="row"><i><a href="/wiki/Frozen_II" title="Frozen II">Frozen II</a></i>
</th>
<td align="right">$1,450,026,933
</td>
<td data-sort-value="2019-11" style="text-align:center;">2019
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-36"><a href="#cite_note-36">[# 24]</a></sup><sup class="reference" id="cite_ref-covid_peak_37-0"><a href="#cite_note-covid_peak-37">[# 25]</a></sup>
</td></tr>
<tr>
<td>14
</td>
<td>5
</td>
<th scope="row"><i><a href="/wiki/Avengers:_Age_of_Ultron" title="Avengers: Age of Ultron">Avengers: Age of Ultron</a></i>
</th>
<td align="right">$1,402,809,540
</td>
<td data-sort-value="2015-04" style="text-align:center;">2015
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-38"><a href="#cite_note-38">[# 26]</a></sup><sup class="reference" id="cite_ref-furious_7_peak_33-1"><a href="#cite_note-furious_7_peak-33">[# 21]</a></sup>
</td></tr>
<tr>
<td>15
</td>
<td>9
</td>
<th scope="row"><i><a href="/wiki/Black_Panther_(film)" title="Black Panther (film)">Black Panther</a></i>
</th>
<td align="right">$1,347,280,838
</td>
<td data-sort-value="2018-02" style="text-align:center;">2018
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-black_panther_39-0"><a href="#cite_note-black_panther-39">[# 27]</a></sup><sup class="reference" id="cite_ref-40"><a href="#cite_note-40">[# 28]</a></sup>
</td></tr>
<tr>
<td>16
</td>
<td>3
</td>
<th scope="row"><i><a href="/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2" title="Harry Potter and the Deathly Hallows â€“ Part 2">Harry Potter and the Deathly Hallows â€“ Part 2</a></i>
</th>
<td align="right">$1,342,139,727
</td>
<td data-sort-value="2011-07" style="text-align:center;">2011
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-hp7.2_41-0"><a href="#cite_note-hp7.2-41">[# 29]</a></sup><sup class="reference" id="cite_ref-HP8_peak_42-0"><a href="#cite_note-HP8_peak-42">[# 30]</a></sup>
</td></tr>
<tr>
<td>17
</td>
<td>9
</td>
<th scope="row"><i><a href="/wiki/Star_Wars:_The_Last_Jedi" title="Star Wars: The Last Jedi">Star Wars: The Last Jedi</a></i>
</th>
<td align="right">$1,332,539,889
</td>
<td data-sort-value="2017-12-13" style="text-align:center;">2017
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-sw8_43-0"><a href="#cite_note-sw8-43">[# 31]</a></sup><sup class="reference" id="cite_ref-SW8_peak_44-0"><a href="#cite_note-SW8_peak-44">[# 32]</a></sup>
</td></tr>
<tr>
<td>18
</td>
<td>18
</td>
<th scope="row" style="background:#b6fcb6;"><i><a href="/wiki/The_Super_Mario_Bros._Movie" title="The Super Mario Bros. Movie">The Super Mario Bros. Movie</a></i> <img alt="film currently playing" data-file-height="14" data-file-width="9" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/3/37/Dagger-14-plain.png" width="9"/>
</th>
<td align="right">$1,313,370,737
</td>
<td data-sort-value="2023-04" style="text-align:center;">2023
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-Super_Mario_BOM_45-0"><a href="#cite_note-Super_Mario_BOM-45">[# 33]</a></sup><sup class="reference" id="cite_ref-Super_Mario_TN_46-0"><a href="#cite_note-Super_Mario_TN-46">[# 34]</a></sup>
</td></tr>
<tr>
<td>19
</td>
<td>12
</td>
<th scope="row"><i><a href="/wiki/Jurassic_World:_Fallen_Kingdom" title="Jurassic World: Fallen Kingdom">Jurassic World: Fallen Kingdom</a></i>
</th>
<td align="right">$1,308,473,425
</td>
<td data-sort-value="2018-06" style="text-align:center;">2018
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-47"><a href="#cite_note-47">[# 35]</a></sup><sup class="reference" id="cite_ref-infinity_war_peak_24-1"><a href="#cite_note-infinity_war_peak-24">[# 12]</a></sup>
</td></tr>
<tr>
<td>20
</td>
<td>5
</td>
<th scope="row"><i><a href="/wiki/Frozen_(2013_film)" title="Frozen (2013 film)">Frozen</a></i>
</th>
<td align="right"><sup class="reference plainlinks nourlexpansion" id="ref_Frozen"><a href="#endnote_Frozen">F</a></sup>$1,290,000,000
</td>
<td data-sort-value="2013-11" style="text-align:center;">2013
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-Frozen_48-0"><a href="#cite_note-Frozen-48">[# 36]</a></sup><sup class="reference" id="cite_ref-frozen_peak_49-0"><a href="#cite_note-frozen_peak-49">[# 37]</a></sup>
</td></tr>
<tr>
<td>21
</td>
<td>10
</td>
<th scope="row"><i><a href="/wiki/Beauty_and_the_Beast_(2017_film)" title="Beauty and the Beast (2017 film)">Beauty and the Beast</a></i>
</th>
<td align="right">$1,263,521,126
</td>
<td data-sort-value="2017-03" style="text-align:center;">2017
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-beauty_50-0"><a href="#cite_note-beauty-50">[# 38]</a></sup><sup class="reference" id="cite_ref-Beauty_peak_51-0"><a href="#cite_note-Beauty_peak-51">[# 39]</a></sup>
</td></tr>
<tr>
<td>22
</td>
<td>15
</td>
<th scope="row"><i><a href="/wiki/Incredibles_2" title="Incredibles 2">Incredibles 2</a></i>
</th>
<td align="right">$1,242,805,359
</td>
<td data-sort-value="2018-06" style="text-align:center;">2018
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-52"><a href="#cite_note-52">[# 40]</a></sup><sup class="reference" id="cite_ref-infinity_war_peak_24-2"><a href="#cite_note-infinity_war_peak-24">[# 12]</a></sup>
</td></tr>
<tr>
<td>23
</td>
<td>11
</td>
<th scope="row"><span data-sort-value="Fate of the FuriousÂ !"><i><a href="/wiki/The_Fate_of_the_Furious" title="The Fate of the Furious">The Fate of the Furious</a></i></span>
</th>
<td align="right"><sup class="reference plainlinks nourlexpansion" id="ref_Fast_8"><a href="#endnote_Fast_8">F8</a></sup>$1,238,764,765
</td>
<td data-sort-value="2017-04" style="text-align:center;">2017
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-53"><a href="#cite_note-53">[# 41]</a></sup><sup class="reference" id="cite_ref-Beauty_peak_51-1"><a href="#cite_note-Beauty_peak-51">[# 39]</a></sup>
</td></tr>
<tr>
<td>24
</td>
<td>5
</td>
<th scope="row"><i><a href="/wiki/Iron_Man_3" title="Iron Man 3">Iron Man 3</a></i>
</th>
<td align="right">$1,214,811,252
</td>
<td data-sort-value="2013-04" style="text-align:center;">2013
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-iron_man_3_54-0"><a href="#cite_note-iron_man_3-54">[# 42]</a></sup><sup class="reference" id="cite_ref-iron_man_3_peak_55-0"><a href="#cite_note-iron_man_3_peak-55">[# 43]</a></sup>
</td></tr>
<tr>
<td>25
</td>
<td>10
</td>
<th scope="row"><i><a href="/wiki/Minions_(film)" title="Minions (film)">Minions</a></i>
</th>
<td align="right">$1,159,444,662
</td>
<td data-sort-value="2015-06-17" style="text-align:center;">2015
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-56"><a href="#cite_note-56">[# 44]</a></sup><sup class="reference" id="cite_ref-jurassic_world_peak_28-1"><a href="#cite_note-jurassic_world_peak-28">[# 16]</a></sup>
</td></tr>
<tr>
<td>26
</td>
<td>12
</td>
<th scope="row"><i><a href="/wiki/Captain_America:_Civil_War" title="Captain America: Civil War">Captain America: Civil War</a></i>
</th>
<td align="right">$1,153,337,496
</td>
<td data-sort-value="2016-05" style="text-align:center;">2016
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-civil_war_57-0"><a href="#cite_note-civil_war-57">[# 45]</a></sup><sup class="reference" id="cite_ref-civil_war_peak_58-0"><a href="#cite_note-civil_war_peak-58">[# 46]</a></sup>
</td></tr>
<tr>
<td>27
</td>
<td>20
</td>
<th scope="row"><i><a href="/wiki/Aquaman_(film)" title="Aquaman (film)">Aquaman</a></i>
</th>
<td align="right">$1,148,528,393
</td>
<td data-sort-value="2018-12" style="text-align:center;">2018
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-59"><a href="#cite_note-59">[# 47]</a></sup><sup class="reference" id="cite_ref-infinity_war_peak_24-3"><a href="#cite_note-infinity_war_peak-24">[# 12]</a></sup>
</td></tr>
<tr>
<td>28
</td>
<td>2
</td>
<th scope="row"><span data-sort-value="Lord of the Rings: Return of the KingÂ !"><i><a href="/wiki/The_Lord_of_the_Rings:_The_Return_of_the_King" title="The Lord of the Rings: The Return of the King">The Lord of the Rings: The Return of the King</a></i></span>
</th>
<td align="right">$1,147,633,833
</td>
<td data-sort-value="2003-12" style="text-align:center;">2003
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-lotr3_60-0"><a href="#cite_note-lotr3-60">[# 48]</a></sup><sup class="reference" id="cite_ref-ROTK_peak_61-0"><a href="#cite_note-ROTK_peak-61">[# 49]</a></sup>
</td></tr>
<tr>
<td>29
</td>
<td>24<sup class="reference plainlinks nourlexpansion" id="ref_LOTR3"><a href="#endnote_LOTR3">RK</a></sup>
</td>
<th scope="row"><i><a href="/wiki/Spider-Man:_Far_From_Home" title="Spider-Man: Far From Home">Spider-Man: Far From Home</a></i>
</th>
<td align="right">$1,131,927,996
</td>
<td data-sort-value="2019-06-28" style="text-align:center;">2019
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-62"><a href="#cite_note-62">[# 50]</a></sup><sup class="reference" id="cite_ref-endgame_peak_16-2"><a href="#cite_note-endgame_peak-16">[# 4]</a></sup>
</td></tr>
<tr>
<td>30
</td>
<td>23<sup class="reference plainlinks nourlexpansion" id="ref_LOTR3"><a href="#endnote_LOTR3">RK</a></sup>
</td>
<th scope="row"><i><a href="/wiki/Captain_Marvel_(film)" title="Captain Marvel (film)">Captain Marvel</a></i>
</th>
<td align="right">$1,128,274,794
</td>
<td data-sort-value="2019-03" style="text-align:center;">2019
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-captain_marvel_63-0"><a href="#cite_note-captain_marvel-63">[# 51]</a></sup><sup class="reference" id="cite_ref-captain_marvel_peak_64-0"><a href="#cite_note-captain_marvel_peak-64">[# 52]</a></sup>
</td></tr>
<tr>
<td>31
</td>
<td>5<sup class="reference plainlinks nourlexpansion" id="ref_LOTR3"><a href="#endnote_LOTR3">RK</a></sup>
</td>
<th scope="row"><i><a href="/wiki/Transformers:_Dark_of_the_Moon" title="Transformers: Dark of the Moon">Transformers: Dark of the Moon</a></i>
</th>
<td align="right">$1,123,794,079
</td>
<td data-sort-value="2011-06" style="text-align:center;">2011
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-65"><a href="#cite_note-65">[# 53]</a></sup><sup class="reference" id="cite_ref-HP8_peak_42-1"><a href="#cite_note-HP8_peak-42">[# 30]</a></sup>
</td></tr>
<tr>
<td>32
</td>
<td>7
</td>
<th scope="row"><i><a href="/wiki/Skyfall" title="Skyfall">Skyfall</a></i>
</th>
<td align="right">$1,108,569,499
</td>
<td data-sort-value="2012-10" style="text-align:center;">2012
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-66"><a href="#cite_note-66">[# 54]</a></sup><sup class="reference" id="cite_ref-Skyfall_peak_67-0"><a href="#cite_note-Skyfall_peak-67">[# 55]</a></sup>
</td></tr>
<tr>
<td>33
</td>
<td>10
</td>
<th scope="row"><i><a href="/wiki/Transformers:_Age_of_Extinction" title="Transformers: Age of Extinction">Transformers: Age of Extinction</a></i>
</th>
<td align="right">$1,104,054,072
</td>
<td data-sort-value="2014-06" style="text-align:center;">2014
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-transformers_68-0"><a href="#cite_note-transformers-68">[# 56]</a></sup><sup class="reference" id="cite_ref-Transformers_4_peak_69-0"><a href="#cite_note-Transformers_4_peak-69">[# 57]</a></sup>
</td></tr>
<tr>
<td>34
</td>
<td>7
</td>
<th scope="row"><span data-sort-value="Dark Knight RisesÂ !"><i><a href="/wiki/The_Dark_Knight_Rises" title="The Dark Knight Rises">The Dark Knight Rises</a></i></span>
</th>
<td align="right">$1,081,169,825
</td>
<td data-sort-value="2012-07" style="text-align:center;">2012
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-70"><a href="#cite_note-70">[# 58]</a></sup><sup class="reference" id="cite_ref-Ice_Age_3_peak_71-0"><a href="#cite_note-Ice_Age_3_peak-71">[# 59]</a></sup>
</td></tr>
<tr>
<td>35
</td>
<td>31
</td>
<th scope="row"><i><a href="/wiki/Joker_(2019_film)" title="Joker (2019 film)">Joker</a></i>
</th>
<td align="right">$1,074,458,282
</td>
<td data-sort-value="2019-10" style="text-align:center;">2019
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-72"><a href="#cite_note-72">[# 60]</a></sup><sup class="reference" id="cite_ref-covid_peak_37-1"><a href="#cite_note-covid_peak-37">[# 25]</a></sup>
</td></tr>
<tr>
<td>36
</td>
<td>32
</td>
<th scope="row"><i><a href="/wiki/Star_Wars:_The_Rise_of_Skywalker" title="Star Wars: The Rise of Skywalker">Star Wars: The Rise of Skywalker</a></i>
</th>
<td align="right">$1,074,144,248
</td>
<td data-sort-value="2019-12" style="text-align:center;">2019
</td>
<td style="text-align:center;"><sup class="reference" id="cite_ref-73"><a href="#cite_note-73">[# 61]</a></sup><sup class="reference" id="cite_ref-covid_peak_37-2"><a href="#cite_note-covid_peak-37">[# 25]</a></sup>
</td></tr>
<tr>
<td>37
</td>
<td>30
</td>
<th scope="row"><i><a href="/wiki/Toy_Story_4" title="Toy Story 4">Toy Story 4</a></i>
</th>

In [7]:
for row in table.find('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    Title= cols[2].string # store the value in column 3 as color_name
    Worldwide_gross = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(Title,Worldwide_gross))

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [8]:
soup.find_all('title')

In [9]:
#W=soup.find('tr')
#d=W.next_sibling
#e=d.next_sibling
#z=e.next_sibling
#z.next_sibling

a=soup.find_all('th')[0:10]
a

[<th scope="col">Rank
 </th>,
 <th scope="col">Peak
 </th>,
 <th scope="col">Title
 </th>,
 <th scope="col">Worldwide gross
 </th>,
 <th scope="col">Year
 </th>,
 <th class="unsortable" scope="col">Reference(s)
 </th>,
 <th scope="row"><i><a href="/wiki/Avatar_(2009_film)" title="Avatar (2009 film)">Avatar</a></i>
 </th>,
 <th scope="row"><i><a href="/wiki/Avengers:_Endgame" title="Avengers: Endgame">Avengers: Endgame</a></i>
 </th>,
 <th scope="row" style="background:#b6fcb6;"><i><a href="/wiki/Avatar:_The_Way_of_Water" title="Avatar: The Way of Water">Avatar: The Way of Water</a></i> <img alt="film currently playing" data-file-height="14" data-file-width="9" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/3/37/Dagger-14-plain.png" width="9"/>
 </th>,
 <th scope="row"><i><a href="/wiki/Titanic_(1997_film)" title="Titanic (1997 film)">Titanic</a></i>
 </th>]

In [10]:
a=soup.get_text('td',strip=True)[1:10]
a

'ist of hi'

# all table

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html.parser")



data = []
rows = soup.find_all('tr')
# Iterate over the rows and extract the cell data
for row in rows:
    cells = row.find_all(['th', 'td'])
    row_data = [cell.get_text(strip=True) for cell in cells]
    data.append(row_data)
#data[0:15]
X=pd.DataFrame(data)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,151
0,Rank,Peak,Title,Worldwide gross,Year,Reference(s),None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1,1,Avatar,"$2,923,706,026",2009,[# 1][# 2],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2,1,Avengers: Endgame,"$2,797,501,328",2019,[# 3][# 4],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,3,3,Avatar: The Way of Water,"$2,320,250,281",2022,[# 5][# 6],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,4,1,Titanic,"T$2,257,844,554",1997,[# 7][# 8],None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

## first table

In [3]:
E=X[0:51]

E1=E.drop(E.columns[5:152],axis=1)
E2=E1.drop(E.columns[1],axis=1)

E2.head()
E3=E2
#E3 = E2.set_index(E2.columns[0]).rename_axis(None, axis=1)

E3.columns = E3.iloc[0]
E3 =E3[1:]
E3

E4= E3.set_index('Rank')

In [4]:
E5=E4
E5['Worldwide gross']=E5['Worldwide gross'].str.replace('T', '')
E5['Worldwide gross']=E5['Worldwide gross'].str.replace('HP1', '')
E5['Worldwide gross']=E5['Worldwide gross'].str.replace('F', '')
E5['Worldwide gross']=E5['Worldwide gross'].str.replace('F8', '')
import re

E5['Worldwide gross'] =E5['Worldwide gross'].str.replace(r'^8', '')#   THis is for removing 8 from infront of 23  
E5

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

0                                             Title Worldwide gross  Year
Rank
1                                            Avatar  $2,923,706,026  2009
2                                 Avengers: Endgame  $2,797,501,328  2019
3                          Avatar: The Way of Water  $2,320,250,281  2022
4                                           Titanic  $2,257,844,554  1997
5                      Star Wars: The Force Awakens  $2,068,223,624  2015
6                            Avengers: Infinity War  $2,048,359,754  2018
7                           Spider-Man: No Way Home  $1,921,847,111  2021
8                                    Jurassic World  $1,671,537,444  2015
9                                     The Lion King  $1,656,943,394  2019
10                                     The Avengers  $1,518,815,515  2012
11                                        Furious 7  $1,515,341,399  2015
12                                Top Gun: Maverick  $1,495,696,292  2022
13                                        Frozen II  $1,450,026,933  2019
14                          Avengers: Age of Ultron  $1,402,809,540  2015
15                                    Black Panther  $1,347,280,838  2018
16    Harry Potter and the Deathly Hallows â€“ Part 2  $1,342,139,727  2011
17                         Star Wars: The Last Jedi  $1,332,539,889  2017
18                      The Super Mario Bros. Movie  $1,313,708,457  2023
19                   Jurassic World: Fallen Kingdom  $1,308,473,425  2018
20                                           Frozen  $1,290,000,000  2013
21                             Beauty and the Beast  $1,263,521,126  2017
22                                    Incredibles 2  $1,242,805,359  2018
23                          The Fate of the Furious  $1,238,764,765  2017
24                                       Iron Man 3  $1,214,811,252  2013
25                                          Minions  $1,159,444,662  2015
26                       Captain America: Civil War  $1,153,337,496  2016
27                                          Aquaman  $1,148,528,393  2018
28    The Lord of the Rings: The Return of the King  $1,147,633,833  2003
29                        Spider-Man: Far From Home  $1,131,927,996  2019
30                                   Captain Marvel  $1,128,274,794  2019
31                   Transformers: Dark of the Moon  $1,123,794,079  2011
32                                          Skyfall  $1,108,569,499  2012
33                  Transformers: Age of Extinction  $1,104,054,072  2014
34                            The Dark Knight Rises  $1,081,169,825  2012
35                                            Joker  $1,074,458,282  2019
36                 Star Wars: The Rise of Skywalker  $1,074,144,248  2019
37                                      Toy Story 4  $1,073,394,593  2019
38                                      Toy Story 3  $1,066,970,811  2010
39       Pirates of the Caribbean: Dead Man's Chest  $1,066,179,747  2006
40                     Rogue One: A Star Wars Story  $1,057,420,387  2016
41                                          Aladdin  $1,050,693,953  2019
42      Pirates of the Caribbean: On Stranger Tides  $1,045,713,802  2011
43                                  Despicable Me 3  $1,034,800,131  2017
44                                    Jurassic Park  $1,034,199,003  1993
45                                     Finding Dory  $1,028,570,942  2016
46        Star Wars: Episode I â€“ The Phantom Menace  $1,027,082,707  1999
47                              Alice in Wonderland  $1,025,468,216  2010
48                                         Zootopia  $1,023,784,195  2016
49                The Hobbit: An Unexpected Journey  $1,017,030,651  2012
50         Harry Potter and the Philosopher's Stone  $1,009,046,830  2001

##  SQL

In [5]:
import sqlite3

!pip install ipython-sql
con=sqlite3.connect('SQL1.db')
#E5.to_sql('mov',con)
%load_ext sql
%sql sqlite:///SQL1.db

Requirement already satisfied: ipython-sql in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: prettytable in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython>=1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (7.33.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: sqlparse in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: backcall in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (4.11.4)
Requirement already satisfied: wcwidth in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: zipp>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (4.5.0)

'Connected: @SQL1.db'

## second table

In [7]:
QW=X[51:62]

In [16]:
QW=QW.drop(QW.columns[4:152],axis=1)
QW

dea=headers1
QW.columns =dea
QW

AS=QW.drop(QW.index[0],axis=0)
AS

AS =AS.reset_index(drop=True)


AS = AS.set_index('Rank')
AS

                             Title        Worldwide gross(2022 $)  Year
Rank
1               Gone with the Wind                 $4,192,000,000  1939
2                           Avatar               A1$3,824,000,000  2009
3                          Titanic  $2,516,000,000T$3,485,000,000  1997
4                        Star Wars                 $3,443,000,000  1977
5                Avengers: Endgame               AE$3,165,000,000  2019
6               The Sound of Music                 $2,884,000,000  1965
7       E.T. the Extra-Terrestrial                 $2,815,000,000  1982
8             The Ten Commandments                 $2,665,000,000  1956
9                   Doctor Zhivago                 $2,526,000,000  1965
10    Star Wars: The Force Awakens              TFA$2,491,000,000  2015

In [17]:
ww = [wws.replace('$2,516,000,000', '').replace('A1', '').replace('AE', '').replace('T', '').replace('FA', '') for wws in AS.iloc[:, 1]]	
ww1=pd.DataFrame(ww)
ww1
zx=AS
zx
zx.iloc[:, 1]=ww
zx

                             Title Worldwide gross(2022 $)  Year
Rank
1               Gone with the Wind          $4,192,000,000  1939
2                           Avatar          $3,824,000,000  2009
3                          Titanic          $3,485,000,000  1997
4                        Star Wars          $3,443,000,000  1977
5                Avengers: Endgame          $3,165,000,000  2019
6               The Sound of Music          $2,884,000,000  1965
7       E.T. the Extra-Terrestrial          $2,815,000,000  1982
8             The Ten Commandments          $2,665,000,000  1956
9                   Doctor Zhivago          $2,526,000,000  1965
10    Star Wars: The Force Awakens          $2,491,000,000  2015

# scrapping

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html.parser")

In [13]:
tables = soup.find_all('table')
for index,table in enumerate(tables):
    if ("Highest-grossing films as of 2022 adjusted for inflation" in str(table)):
            table_index = index
print(index)

88

In [14]:
#D=print(tables[1].prettify())
D=tables[1]
print(D.prettify())

<table class="wikitable plainrowheaders" style="margin:auto; margin:auto;">
 <caption>
  <span class="nowrap">
   Highest-grossing films as of 2022
   <sup class="plainlinks noexcerpt noprint asof-tag update" style="display:none;">
    <a class="external text" href="https://en.wikipedia.org/w/index.php?title=List_of_highest-grossing_films&amp;action=edit">
     [update]
    </a>
   </sup>
   adjusted for inflation
   <sup class="reference" id="cite_ref-Guinness_2015_117-0">
    <a href="#cite_note-Guinness_2015-117">
     [35]
    </a>
   </sup>
  </span>
  <sup class="reference" id="ref_Inflation">
   <a href="#endnote_Inflation">
    [Inf]
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Title
   </th>
   <th data-sort-type="currency" scope="col">
    <div style="display: inline-block; line-height: 1.2em; padding: .1em 0;">
     Worldwide gross
     <br/>
     <span style="font-size:85%;">
      (2022 $)
     </span>
    </div>
   </th>
   <th scope="col">
    Year
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/Gone_with_the_Wind_(film)" title="Gone with the Wind (film)">
      Gone with the Wind
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    $4,192,000,000
   </td>
   <td style="text-align:center;">
    1939
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/Avatar_(2009_film)" title="Avatar (2009 film)">
      Avatar
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    <sup class="reference plainlinks nourlexpansion" id="ref_Avatar">
     <a href="#endnote_Avatar">
      A1
     </a>
    </sup>
    $3,824,000,000
   </td>
   <td style="text-align:center;">
    2009
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/Titanic_(1997_film)" title="Titanic (1997 film)">
      Titanic
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    <span style="display:none">
     $2,516,000,000
    </span>
    <sup class="reference plainlinks nourlexpansion" id="ref_Titanic-b">
     <a href="#endnote_Titanic-b">
      T
     </a>
    </sup>
    $3,485,000,000
   </td>
   <td style="text-align:center;">
    1997
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/Star_Wars_(film)" title="Star Wars (film)">
      Star Wars
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    $3,443,000,000
   </td>
   <td style="text-align:center;">
    1977
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/Avengers:_Endgame" title="Avengers: Endgame">
      Avengers: Endgame
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    <sup class="reference plainlinks nourlexpansion" id="ref_Avengers_Endgame">
     <a href="#endnote_Avengers_Endgame">
      AE
     </a>
    </sup>
    $3,165,000,000
   </td>
   <td style="text-align:center;">
    2019
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/The_Sound_of_Music_(film)" title="The Sound of Music (film)">
      The Sound of Music
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    $2,884,000,000
   </td>
   <td style="text-align:center;">
    1965
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/E.T._the_Extra-Terrestrial" title="E.T. the Extra-Terrestrial">
      E.T. the Extra-Terrestrial
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    $2,815,000,000
   </td>
   <td style="text-align:center;">
    1982
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/The_Ten_Commandments_(1956_film)" title="The Ten Commandments (1956 film)">
      The Ten Commandments
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    $2,665,000,000
   </td>
   <td style="text-align:center;">
    1956
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/Doctor_Zhivago_(film)" title="Doctor Zhivago (film)">
      Doctor Zhivago
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    $2,526,000,000
   </td>
   <td style="text-align:center;">
    1965
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <th scope="row">
    <i>
     <a href="/wiki/Star_Wars:_The_Force_Awakens" title="Star Wars: The Force Awakens">
      Star Wars: The Force Awakens
     </a>
    </i>
   </th>
   <td style="text-align:right;">
    <sup class="reference plainlinks nourlexpansion" id="ref_The_Force_Awakens">
     <a href="#endnote_The_Force_Awakens">
      TFA
     </a>
    </sup>
    $2,491,000,000
   </td>
   <td style="text-align:center;">
    2015
   </td>
  </tr>
 </tbody>
</table>

In [15]:
headers1= [th.get_text(strip=True) for th in D.find_all('th')[0:4]]
headers1

df1 = pd.DataFrame(headers1)
df1

                         0
0                     Rank
1                    Title
2  Worldwide gross(2022 $)
3                     Year

In [18]:
headers2= [th.get_text(strip=True) for th in D.find_all('th')[4:15]]
headers2

df2 = pd.DataFrame(headers2)

In [19]:
ww= [td.get_text(strip=True)for td in D.find_all('td')[1:30:3]]
ww = [wws.replace('$2,516,000,000', '').replace('A1', '').replace('AE', '').replace('T', '').replace('FA', '') for wws in ww]
ww=pd.DataFrame(ww)

In [20]:
year= [td.get_text(strip=True)for td in D.find_all('td')[2:30:3]]
year
year=pd.DataFrame(year)

In [21]:
rank= [td.get_text(strip=True)for td in D.find_all('td')[0:30:3]]
rank=pd.DataFrame(rank)

In [22]:
zz= pd.concat([rank,df2,ww,year],axis=1)

In [23]:
dea=headers1
zz.columns =dea
zz.head()

  Rank               Title Worldwide gross(2022 $)  Year
0    1  Gone with the Wind          $4,192,000,000  1939
1    2              Avatar          $3,824,000,000  2009
2    3             Titanic          $3,485,000,000  1997
3    4           Star Wars          $3,443,000,000  1977
4    5   Avengers: Endgame          $3,165,000,000  2019

In [24]:
FB =zz.set_index('Rank')
FB

                             Title Worldwide gross(2022 $)  Year
Rank
1               Gone with the Wind          $4,192,000,000  1939
2                           Avatar          $3,824,000,000  2009
3                          Titanic          $3,485,000,000  1997
4                        Star Wars          $3,443,000,000  1977
5                Avengers: Endgame          $3,165,000,000  2019
6               The Sound of Music          $2,884,000,000  1965
7       E.T. the Extra-Terrestrial          $2,815,000,000  1982
8             The Ten Commandments          $2,665,000,000  1956
9                   Doctor Zhivago          $2,526,000,000  1965
10    Star Wars: The Force Awakens          $2,491,000,000  2015

## 3rd table

In [41]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://en.wikipedia.org/wiki/List_of_highest-grossing_films"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html.parser")

In [ ]:
shift function